In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200) ## view all the columns

In [3]:
from dotenv import load_dotenv
import os
import sys
sys.path.insert(0,'../../src/')
from utlis import Utils as ul

sys.path.insert(0,'../../database/')
from db_connection import DBConnect as dbconnect
# Load environment variables from .env file
load_dotenv()

True

In [5]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the user_experience_data
    query = "SELECT * FROM user_experience_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    experience_df = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [6]:
experience_df.head()

   MSISDN/Number  Average_throughput  Average_TCP  Average_RTT
0   3.366496e+10            0.001202     0.003249     0.347107
1   3.368185e+10            0.000754     0.003249     0.537190
2   3.376063e+10            0.000269     0.003249     0.537190
3   3.375034e+10            0.001579     0.003249     0.537190
4   3.369980e+10            0.000269     0.003249     0.537190

In [9]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the engagement_data
    query = "SELECT * FROM engagement_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    engagement_df = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [10]:
engagement_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Total_DL_UL (Bytes),session_frequceny
0,3.360100e+10,0.005908,0.148001,0.000000
1,3.360100e+10,0.009387,0.059474,0.000000
2,3.360100e+10,0.006892,0.117380,0.000000
3,3.360101e+10,0.002304,0.072281,0.000000
4,3.360101e+10,0.001615,0.292006,0.058824

In [12]:
from sklearn.cluster import KMeans
from scipy.spatial import distance

In [21]:
## euclidean for engagement df 
# Extract features for euclidean distance 
features = engagement_df[['Total_Session_Duration_ms', 'Total_DL_UL (Bytes)', 'session_frequceny']]

# Calculate the centroid of the user data points
centroid = features.mean()

# Calculate Euclidean distance from each user data point to the centroid
engagement_df['engagement_euclidean_distance'] = engagement_df.apply(lambda row: distance.euclidean(
    row[['Total_Session_Duration_ms', 'Total_DL_UL (Bytes)', 'session_frequceny']],
    centroid
), axis=1)

# Display the resulting DataFrame with Euclidean distances for engagement
print(engagement_df[['MSISDN/Number', 'engagement_euclidean_distance']])

        MSISDN/Number  engagement_euclidean_distance
0        3.360100e+10                       0.024272
1        3.360100e+10                       0.096253
2        3.360100e+10                       0.042595
3        3.360101e+10                       0.084048
4        3.360101e+10                       0.143743
...               ...                            ...
106851   3.379000e+10                       0.044235
106852   3.379000e+10                       0.059019
106853   3.197021e+12                       0.094480
106854   3.370000e+14                       0.027949
106855   8.823971e+14                       0.079355

[106856 rows x 2 columns]

In [20]:
## euclidean for experience df 
# Extract features for Euclidean distance calculation
features = experience_df[['Average_throughput', 'Average_TCP', 'Average_RTT']]

# Calculate the centroid of the worst experience cluster
worst_experience_centroid = features.max()  # Change to min() if lower values represent worse experience

# Calculate Euclidean distance from each user data point to the worst experience cluster
experience_df['experience_euclidean_distance'] = experience_df.apply(lambda row: distance.euclidean(
    row[['Average_throughput', 'Average_TCP', 'Average_RTT']],
    worst_experience_centroid
), axis=1)

# Display the resulting DataFrame with Euclidean distances for experience
print(experience_df[['MSISDN/Number', 'experience_euclidean_distance']])

        MSISDN/Number  experience_euclidean_distance
0        3.366496e+10                       1.554792
1        3.368185e+10                       1.485328
2        3.376063e+10                       1.485654
3        3.375034e+10                       1.484773
4        3.369980e+10                       1.485654
...               ...                            ...
149996   3.365069e+10                       1.239686
149997   3.366345e+10                       1.265207
149998   3.362189e+10                       1.188410
149999   3.361962e+10                       1.216301
150000   3.361962e+10                       1.216301

[150001 rows x 2 columns]