In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200) ## view all the columns

In [3]:
from dotenv import load_dotenv
import os
import sys
sys.path.insert(0,'../../src/')
from utlis import Utils as ul

sys.path.insert(0,'../../database/')
from db_connection import DBConnect as dbconnect
# Load environment variables from .env file
load_dotenv()

True

In [4]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the user_experience_data
    query = "SELECT * FROM user_experience_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    experience_df = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [5]:
experience_df.head()

   MSISDN/Number  Average_throughput  Average_TCP  Average_RTT
0   3.366496e+10            0.001202     0.003249     0.347107
1   3.368185e+10            0.000754     0.003249     0.537190
2   3.376063e+10            0.000269     0.003249     0.537190
3   3.375034e+10            0.001579     0.003249     0.537190
4   3.369980e+10            0.000269     0.003249     0.537190

In [6]:
# Create a connection to the PostgreSQL database using SQLAlchemy
engine = dbconnect.connect_to_db()

# Print the engine to verify the connection
print(engine)

# Get a raw PostgreSQL connection from the SQLAlchemy engine
connection = engine.raw_connection()

try:
    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Query to retrieve all rows from the engagement_data
    query = "SELECT * FROM engagement_data"

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Convert the result to a Pandas DataFrame
    columns = [desc[0] for desc in cursor.description]
    engagement_df = pd.DataFrame(result, columns=columns)
    
    # Display the DataFrame

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

# Dispose of the SQLAlchemy engine after use
engine.dispose()

Engine(postgresql://azizadx:***@localhost:5435/telecom.sql)

In [7]:
engagement_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Total_DL_UL (Bytes),session_frequceny
0,3.360100e+10,0.005908,0.148001,0.000000
1,3.360100e+10,0.009387,0.059474,0.000000
2,3.360100e+10,0.006892,0.117380,0.000000
3,3.360101e+10,0.002304,0.072281,0.000000
4,3.360101e+10,0.001615,0.292006,0.058824

#### Task 5. 1 - Write a python program to assign:
- engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) (Euclidean Distance)
- experience score to each user. Consider the experience score as the Euclidean distance between the user data point & the worst experienceâ€™s cluster.

In [8]:
from sklearn.cluster import KMeans
from scipy.spatial import distance

In [14]:
# ## Euclidean for engagement df 
# # Extract features for Euclidean distance 
features = engagement_df[['Total_Session_Duration_ms', 'Total_DL_UL (Bytes)', 'session_frequceny']]

# Calculate the centroid of the user data points
centroid = features.mean()

# Calculate Euclidean distance from each user data point to the centroid
engagement_df['engagement_euclidean_distance'] = engagement_df.apply(lambda row: distance.euclidean(
    row[['Total_Session_Duration_ms', 'Total_DL_UL (Bytes)', 'session_frequceny']],
    centroid
), axis=1)

In [15]:
engagement_df.head()

,MSISDN/Number,Total_Session_Duration_ms,Total_DL_UL (Bytes),session_frequceny,engagement_euclidean_distance
0,3.360100e+10,0.005908,0.148001,0.000000,0.024272
1,3.360100e+10,0.009387,0.059474,0.000000,0.096253
2,3.360100e+10,0.006892,0.117380,0.000000,0.042595
3,3.360101e+10,0.002304,0.072281,0.000000,0.084048
4,3.360101e+10,0.001615,0.292006,0.058824,0.143743

In [16]:
## Euclidean for experience df 
# Extract features for Euclidean distance calculation
exp_dis_df = pd.DataFrame()
features = experience_df[['Average_throughput', 'Average_TCP', 'Average_RTT']]

# Calculate the centroid of the worst experience cluster
worst_experience_centroid = features.mean()  

# Calculate Euclidean distance from each user data point to the worst experience cluster
experience_df['experience_euclidean_distance'] = experience_df.apply(lambda row: distance.euclidean(
    row[['Average_throughput', 'Average_TCP', 'Average_RTT']],
    worst_experience_centroid
), axis=1)

# Display the resulting DataFrame with Euclidean distances for experience
experience_df[['MSISDN/Number', 'experience_euclidean_distance']]

In [17]:
experience_df.head()

,MSISDN/Number,Average_throughput,Average_TCP,Average_RTT,experience_euclidean_distance
0,3.366496e+10,0.001202,0.003249,0.347107,0.360224
1,3.368185e+10,0.000754,0.003249,0.537190,0.356839
2,3.376063e+10,0.000269,0.003249,0.537190,0.357147
3,3.375034e+10,0.001579,0.003249,0.537190,0.356317
4,3.369980e+10,0.000269,0.003249,0.537190,0.357147

#### Task 5.2: Consider the average of both engagement & experience scores as  the satisfaction score & report the top 10 satisfied customer

In [20]:
engagement_df['satisfaction_score'] = (engagement_df['engagement_euclidean_distance'] + experience_df['experience_euclidean_distance']) / 2
satisfaction_df = engagement_df.sort_values(by='satisfaction_score', ascending=True)
top_10_satisfied_customers = satisfaction_df[['MSISDN/Number', 'satisfaction_score']].head(10)
top_10_satisfied_customers

       MSISDN/Number  satisfaction_score
90163   3.369995e+10            0.030448
10626   3.362163e+10            0.041243
15381   3.362958e+10            0.044362
40591   3.366057e+10            0.047863
82242   3.368767e+10            0.049416
87936   3.369926e+10            0.050829
36702   3.365965e+10            0.051526
24291   3.365033e+10            0.052257
85283   3.369843e+10            0.053093
99185   3.376318e+10            0.054005

#### Task5.3 Build a regression model of your choice to predict the satisfaction score of a customer.